/* Body related style */

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;

}

*{margin: 0;}




/* Header related style */



.header-part{
    background-color: #e5547321;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 240px;
    margin-bottom: 200px;
    
}

.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 32px;

    
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;

}
.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;

}

#header-pic{
    
    width: 380px;
    height: 480px;
    margin-top: auto;
}


/* Main related style */



main{
    width: 70%;
    margin: 0 auto;
}


.flower-box{
    margin-bottom: 40px;

}
.featured-name{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.featured-content{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.all-beauty{
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}


.flower-list-1{
    width: 264px;
    height: 290px;
    background-color:#a721623b;
    border-radius: 300px 300px 0px 0px;

}
.flower-list-2{
    width: 264px;
    height: 290px;
    background-color:#0598a03d;
    border-radius: 300px 300px 0px 0px;

}
.flower-list-3{
    width: 264px;
    height: 290px;
    background-color:#477d1146;
    border-radius: 300px 300px 0px 0px;

}
.img1{
    width: 70%;
    margin-top: 35px;
}
.img2{
    width: 95%;
    margin-top: 35px;
}
.img3{
    width: 70%;
    margin-top: 12px;
}

.bally {
    width: 100%;
 
 }
 .img-div{
 display: flex;
 justify-content: center;
 }




.flower-name{
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-top: 32px;

}

.support-section{
    height: 320px;
    background-color: #2727271c;
    border-radius: 8px;
    margin-bottom: 128px;
    text-align: center;
    
    
    

}

#icons{
    display: flex;
    
    justify-content: space-evenly;
    align-items: center;

    

}
.support-icone-1{
    align-items: center;
}



/* Deal related style */




.hot-deal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 550px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 182px;
    padding: 0% 10%;

}
span{
    color: #E55473;
}
.deal-part{
    text-align: center;
}



.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
    
}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    text-align: center;
}



/* Instagrm section */


.Instagram-part{
    text-align: center;
    margin-bottom: 48px;


}
.Instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}
.Instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}


/* Flower related style */


.flower-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: -10px;
    width: 75%;
    margin-left: 320px;

      
}





/* Latest-deals related style */



.latest-deals{
    margin-top: 100px;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 100px;
    background-image: url('./flowers/Rectangle\ 9.png');
    background-size:  1440px, 449px;
    background-repeat: no-repeat;
    min-height: 400px;
    text-align: center;
    padding-top: 120px;
    
}

.deal-head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.deal-coupon{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

input{
    width: 700px;
    height: 60px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
    margin-right: 16px;
    padding-inline: 22px;
}


/* Footer section */

.footer{
    height: 420px;
    background: #111010;

}
.footer-content{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 150px;
    padding-bottom: 0%;

}
.foort-title{
    color: #fdfdfd;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;

}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;;
    font-weight: 400;
    margin-bottom: 20px;
}
.foort-copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;

}






