
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;

}

*{margin: 0;}

.header-part{
    background-color: #e5547321;
    height: 560px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 240px;
    margin-bottom: 200px;
    
}

.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 32px;

    
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;

}
.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    border: 0;

}

#header-pic{
    
    width: 380px;
    height: 480px;
    margin-top: auto;
}
